@import '../../css/base';

.background {
  z-index: 8;
  position: absolute;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.note {
  z-index: 10;
  position: relative;
  background-color: #fff;
  width: 90%;
  margin: 3rem auto;
  min-height: 70vh;
  max-width: 50rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  input,
  select,
  textarea {
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }

  label {
    margin-bottom: 0.5rem;
    font-family: $font-handwritten;
  }

  &_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  &_submit {
    display: flex;
    justify-content: space-between;
    margin-top: auto;

    img {
      height: 3rem;
      cursor: pointer;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
