@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Raleway:wght@300&display=swap');
$font-main: 'Raleway', sans-serif;
$font-handwritten: 'Architects Daughter', cursive;

$color-lemon: #ffeaa7;
$color-pink: #fab1a0;
$color-green: #55efc4;
