@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@300&display=swap');
$font-main: 'Open Sans', sans-serif;
$font-handwritten: 'Indie Flower', cursive;

$color-lemon: #ffeaa7;
$color-pink: #fab1a0;
$color-green: #55efc4;
$color-bright-green: #6ab04c;
$color-bright-red: #e74c3c;
$color-grey: #666;
$color-light-grey: #aaa;

$media_phone: 300px;
$media_tablet: 700px;
$media_tablet_landscape: 1000px;
$media_computer_small: 1100px;
$media_computer_large: 2000px;

$box_shadow: 3px 6px 8px rgba(0, 0, 0, 0.2);
